<html xmlns:th="http://www.thymeleaf.org">
<body>
	
	<p th:text="${msg}"></p>
	<table border="1">
		<tr>
			<td><b>Id</b></td>
			<td><b>Allergies</b></td>
			<td><b>Name</b></td>
			<td><b>Surname</b></td>
			<td><b>Group</b></td>
		</tr>
		
		<tr th:each="tempC : ${mydata}">
			<td th:text="${tempC.getId()}"></td>
			<td th:text="${tempC.getAllergies()}"></td>
			<td th:text="${tempC.getName()}"></td>
			<td th:text="${tempC.getSurname()}"></td>
			<td th:text="${tempC.getChildrenGroup()}"></td>
		</tr>
		
	</table>
</body>
</html>